body {
  font-family: "Roboto", sans-serif;
}

.container {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-image: url ("img/pexels.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: black;
  font-size: 30px;
  position: fixed;
  top: 20px;
  bottom: 40px;
  text-align: right;
}
img {
  width: 50%;
  display: block;
  margin: 0%;
  position: absolute;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 74px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: fixed;
  font-size: 20px;
  top: -34px;
}
.currentinfo {
  text-align: right;
  list-style: none;
  padding-left: none;
}

.rainweather {
  width: 300px;
  display: block;
  margin: 0 auto;
  text-align: left;
}
.Open-source {
  text-align: center;
}
