body {
  font-family: "Roboto", sans-serif;
  background-image: url ("img/pexels-325185.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

h1 {
  color: black;
  font-size: 30px;
  position: relative;
  top: 20px;
  bottom: 40px;
  text-align: right;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 74px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 20px;
  top: -34px;
}
.currentinfo {
  text-align: right;
  list-style: none;
  padding-left: none;
}

.rainweather {
  width: 300px;
  display: block;
  margin: 0 auto;
  text-align: left;
}
.openSource {
  text-align: right;
}
